@model TestLib.Entities.Car

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Car</legend>

    <div class="display-label">Brand</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Brand.Name)
    </div>

    <div class="display-label">RegistrationNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegistrationNumber)
    </div>

    <div class="display-label">TopSpeed</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TopSpeed)
    </div>

    <div class="display-label">Color</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Color)
    </div>

    <div class="display-label">Seats</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Seats)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
